.index{
    background-image: url('imgs/banner.jpeg');
}

#container {
    width: 2px;
    height: 2px;
    overflow: auto;
    resize: both;
    background-color: hotpink;
    color: lime;
    font-family: Comic Sans MS, cursive;
    text-align: center;
}

#container h1 {
    font-size: 72px;
    text-decoration: underline;
    color: red;
}

#container p {
    font-size: 24px;
    color: blue;
}

.button {
    background-color: yellow;
    color: purple;
    font-size: 36px;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: lime;
    color: red;
}

a[href="pages/step1.html"] {
    text-decoration: none;
    color:blue;
}

.step1 {
    background-image: url('imgs/background2.jpeg');
}

#container2 {
    width: 2px;
    height: 2px;
    overflow: auto;
    resize: both;
    text-align: center;
    margin: 80px 130px;
    background: lime;
    color: fuchsia;
    font-family: Comic Sans MS, cursive;
}

#container2 p {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.unreadable {
    font-family: Impact, Charcoal, sans-serif;
}

.fake-div {
    width: 2px;
    height: 2px;
    overflow: auto;
    resize: both;
    margin:30px 80px;
    text-align: center;
    background-color:fuchsia;
    color:red;
}

.first {
    margin: 20px 50px;
}
.second {
    margin: 220px 280px;
}
.third {
    margin: 380px 410px;
}

.flag-div {
    width: 2px;
    height: 2px;
    overflow: auto;
    resize: both;
    text-align: center;
    margin: 10px 380px;
    background-color:#FFFF00 ;
    color:red;
}

.flag-button{
    background-color: yellow;
    color: purple;
    font-size: 36px;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
}

.flag-button:hover {
    cursor:default;
}

.signup {
    background-image: url('imgs/background3.jpeg');
}

#container3 {
    width: 3px;
    height: 3px;
    overflow: auto;
    resize: both;
    text-align: center;
    color:#fff;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.snow {
    width:10px;
    height:10px;
    opacity: 0;
    background-color: #fff;
    border-radius: 50%;
    animation: snow 20s linear infinite;
}

.snow:nth-of-type(2n){
    width:7px;
    height:7px;
    animation-duration: 7s;
    animation-delay: 1s;
}

.snow:nth-of-type(2n+1){
    animation-duration: 8s;
    animation-delay: 2s;
}

.snow:nth-of-type(9n){
    animation-duration: 9s;
    animation-delay: 3s;
}


@keyframes snow{
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    20%{
        opacity: 1;
        transform: translate(-15px, 20vh);
    }
    40%{
        opacity: 1;
        transform: translate(15px, 40vh);
    }
    60%{
        opacity: 1;
        transform: translate(-15px, 60vh);
    }
    80%{
        opacity: 1;
        transform: translate(0, 80vh);
    }
    100%{
        opacity: 1;
        transform: translateY(100vh);
    }
}